@model Airline.Models.FlightViewModel

<div class="form-group">
    <label asp-for="OriginId" class="control-label"></label>
    <select asp-for="OriginId" asp-items="Model.ListAirports"  class="form-control"></select>
    <span asp-validation-for="OriginId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DestinationId" class="control-label"></label>
    <select asp-for="DestinationId"  class="form-control"></select>
    <span asp-validation-for="DestinationId" class="text-danger"></span>
</div>

@*asp-items="Model.ListAirports" *@

@*<input asp-for="SelectedDate" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"  />*@


@*<div class="form-group">
    <label asp-for="Day" class="control-label"></label>
    <div class="input-group date" data-provide="datepicker">
        <input type="text" asp-for="Day" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd HH:mm")" class="form-control" />
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
        </div>
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>
</div>*@

<div class="form-group">
    <label asp-for="Day" class="control-label"></label>
    <input asp-for="Day" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-ddThh:mm")" />
    <span asp-validation-for="Day" class="text-danger"></span>
</div>





<div class="form-group">
    <label asp-for="Price1stClass" class="control-label"></label>
    <input asp-for="Price1stClass" class="form-control" />
    <span asp-validation-for="Price1stClass" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PriceBusiness" class="control-label"></label>
    <input asp-for="PriceBusiness" class="form-control" />
    <span asp-validation-for="PriceBusiness" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PricePremiumEconomy" class="control-label"></label>
    <input asp-for="PricePremiumEconomy" class="form-control" />
    <span asp-validation-for="PricePremiumEconomy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PriceEconomy" class="control-label"></label>
    <input asp-for="PriceEconomy" class="form-control" />
    <span asp-validation-for="PriceEconomy" class="text-danger"></span>
</div>


@section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");

    //<script type="text/javascript">
    //        $(document).ready(function () {
    //            var userLang = navigator.language || navigator.userLanguage;
    //            console.log(userLang);
    //            var options = $.extend({}, // empty object
    //                $.datepicker.regional[pt - Pt], {
    //                dateFormat: "yyyy-MM-dd HH:mm"
    //            } // your custom options
    //            );
    //            $(".date").datepicker(options);
    //        });
    //</script>
    }
    }