@model Airline.Models.FlightViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_Flight" />


            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="plane">


            <div class="row row--1">
                    
                    
                    
                    @foreach (var item in Model.Bilhetestest)
                    {
                    <label>@item @item</label>
                    }
                        
                    

                        
                    
                </div>

                <div class="row row--1">


                    <label>


                    </label>

                </div>
            



        </div>
    </div>

</div>


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        debugger;
        $(document).ready(function () {
            $("#OriginId").change(function () {
                $("#DestinationId").empty();
                $.ajax({
                    url: '@Url.Action("GetAirportsAsync","Flights")',
                    type: 'POST',
                    dataType: 'json',
                    data: { airportId: $("#OriginId").val() },
                    success: function (classes) {
                        debugger;
                        $("#DestinationId").append('<option value="0">(Select an Airport...)</option>');
                        $.each(classes, function (i, clas) {
                            $("#DestinationId").append('<option value="'
                                + clas.value + '">'
                                + clas.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        debugger;
                        alert('Failed to retrieve airport.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
    }



