@model Airline.Models.FlightViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_Flight" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        debugger;
        $(document).ready(function () {
            $("#OriginId").change(function () {
                $("#DestinationId").empty();
                $.ajax({
                    url: '@Url.Action("GetAirportsAsync","Flights")',
                    type: 'POST',
                    dataType: 'json',
                    data: { airportId: $("#OriginId").val() },
                    success: function (classes) {
                        debugger;
                        $("#DestinationId").append('<option value="0">(Select an Airport...)</option>');
                        $.each(classes, function (i, clas) {
                            $("#DestinationId").append('<option value="'
                                + clas.value + '">'
                                + clas.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        debugger;
                        alert('Failed to retrieve airport.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
    }

